**/node_modules/
**/node_modules/*
**/node_modules/**
**/logs
testing/node_modules
config_brandon.js
**/package-lock.json
**/member.json
package-lock.json
member.json
bot/package.json
.gitignore
testing/package-lock.json
bot/resources/member.json

